@import "tailwindcss";
html {
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
}
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .no-print {
        display: none !important;
    }
}